{
  "plugins": [
    "source-map-support",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
  ],
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true,
          "shippedProposals": true,
          "loose": true
        }
      }
    ]
  ]
}