# package directories
node_modules
jspm_packages
data/database.sqlite

# Serverless directories
.serverless
.webpack
.env.local
.env.localdev.local

# Ignore yarn (Focus should be on NPM)
yarn.lock